
.h1, .h2, .paragraph{
    margin: 10px 0 0 0;
}
.h1{
    font-size: 20px
}
.h2{
    font-size: 20px;
}
h2.title{
    width: 100%;
    font-size: 2.1em;
    letter-spacing: 2px;
    /* color: #000000; */
    font-family: "Open Sans";
    font-weight: 300;
    text-align: center;
    padding: 15px 0 25px 0;
    /* margin: 5.29em 0 0.3em 0; */
}
.paragraph{
    font-size: 16px;
    color: #656565;
}